:root {
    --bg-color: #161616;
    --input-color: #1b1b1b;
    --panel-color: #202020;
    --panel-sub-color: #262626;
    --accent-color: #ff8000;
    --input-unset-color: #f5abb9;
    --input-set-color: #5bcffb;
    --text-color: #dcddde;
    --text-light-color: #eee;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.main {
    margin: 10px;
}

a {
    color: #5bcffb;
}

a:visited {
    color: #f5abb9;
}

fieldset {
    display: flex;
    flex-direction: column;
    background-color: var(--panel-color);
    border: none;
    border-left: 2px solid var(--accent-color);
}

fieldset > fieldset {
    background-color: var(--panel-sub-color);
}

.control-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.control-panel > * {
    flex-grow: 1;
}

header {
    background-color: var(--panel-color);
    padding: 10px;
    border-top: 2px solid var(--accent-color);
    display: flex;
    align-items: center;
}

header > a {
    text-decoration: none;
    color: var(--text-color);
    padding: 5px;
}

header > a:visited {
    color: var(--text-color)
}

header > a:hover {
    color: var(--text-light-color)
}

input {
    background-color: var(--input-color);
    border: 1px solid var(--panel-sub-color);
    border-left: 2px solid var(--input-unset-color);
    color: unset;
}

input:valid {
    border-left: 2px solid var(--input-set-color);
}

button {
    background-color: var(--panel-color);
    color: var(--text-color);
    padding: 5px;
    border: none;
    border-left: 2px solid var(--accent-color);
    border-bottom: 2px solid var(--panel-sub-color);
}

button:hover {
    border-bottom: 2px solid var(--input-unset-color);
}

button:active {
    border-bottom: none;
    border-top: 2px solid var(--input-set-color);
}

.logo {
    font-weight: bold;
    font-size: xx-large;
    padding: 0px;
    padding-right: 20px;
}

output {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--panel-color);
    border-left: 2px solid var(--accent-color);
}